body {
    background-color:#2e282a;
    color:#eedbdb;
}

main {
    width:85%;
    margin:auto;
}
header {
    display:inline-flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    box-shadow: 1px 1px 2px #eedbdb;
}
header div {
    margin:10px 50px;
    padding:10px;
    color:#e4572e;
    box-shadow: -1px 1px 2px #eedbdb;
}
header h1 {
    margin:0;
}
nav {
    padding-right:50px;
}
nav ul {
    display:inline-flex;
    list-style:none;
}
nav ul li {
    padding: 5px 10px;
    box-shadow: 1px 1px 2px #eedbdb;
    margin:10px;
}
a {
    text-decoration:none;
    color: #f7dbdb;
}
nav a:hover, button:hover {
    color:#e4572e;
}
nav li:active, button:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}

h1, h2 {
    color:#e4572e;
}

.flexin {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 50px;
}
.flexin img {
    width:280px;
}
figcaption {
    text-align: center;
}
i {
    font-size:50px;
}
.gridin {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    text-align: center;
    vertical-align:center;
}
ul {
    list-style-type: disclosure-closed;
}
button {
    background: #2e282a;
    border: none;
    color: #f7dbdb;
    box-shadow: 1px 1px 2px #f7dbdb;
    padding: 5px 10px;
    cursor: pointer;
    margin:10px;
}
.project-img {
    display:none;
}

